.stitched {
   padding: 30px;
   margin: 20px;
   background: #e6f2ff;
   color: #fff;
   font-size: 21px;
   font-weight: block;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #e6f2ff, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #e6f2ff;
   font-weight: bold;
}
